* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
} 
p{
    font-size: 1.6rem;
}

body {
    background-color: black;
    color: rgb(24, 215, 215) ;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: gray;
    height: 4rem;
}

.barra__navegacion {
    top: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    position: fixed;
}

.barra__navegacion {
    background-color: gray;   
    transition: background-color 1s ease-in-out;
    animation: fade-in 5s infinite;
}

@keyframes fade-in {
    0% {
      background-color: gray;
    }
    50% {
      background-color: black;
    }
    100% {
      background-color: gray;
    }
  }


.main-nav {
    margin: auto;
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-nav__item {
    padding: .5rem;
    margin: .6rem;
    

}

.main-nav__item a {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.6rem;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color: greenyellow;
}


/* PSEUDOELEMENTO para llamar a un PSEUDOELEMENTO es necesario los dos puntos :: 
AFTER es como una condicion. Cada que termina un elemento, que hacer.
en este caso CONTENT es para poner ese simbolo despues de cada Elemento. 
*/
/* .main-nav__item a::after {
    content: "✅";

} */
/* ******************************************************************************** */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo__phone, .summary, .aboutMe {
    /* display: inline-block; */
    /* display: flex; */
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Code Pro', monospace;
}


.logo__phone {
    width: 100%;
}

.logo__phone img {
    width: 80%;    
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
.fade-in.visible {
opacity: 1;
}

.aboutMe h2 {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.aboutMe {
    border-radius: 2rem;
    background-color:grey;
    margin: 1rem;
    padding: 2rem;
    color: white;
    /* width: 100%;   */
    /* position: relative;
    justify-content: center; */
    /* width: 75vw;
    height: 80vh; */
    /* grid-area: main; */
    /* position: absolute; */
}



.summary {
    background-color: blue;   
}

.description {
    width: auto;
    justify-content: center;
    margin: 10px ;
    padding: 1px;
    background-color: rgb(8, 143, 102);
    font-size: 14px;
    color: white;
}


ul, ol {
    /* width: 20vh; */
    list-style: none;
}

ol{
    padding: 1rem;
}

.description h2 {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.thisIsMe {
    width: 100%; 
    /* height: 100%;
    width: 100%; */
}
/* 
p {
    width: auto;
} */


.aboutMe img {
    width: 80%;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
















/* ******************************************************************************** */
.contact__links {
    /* display: inline-block; */
    position: relative;
    justify-content: stretch;
    
}

.contact {
    /* position: relative; */
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.contact {
    margin:  auto;
    padding: 1% ;
    background-color: gray;
    /* border-radius: 15%; */
    /* justify-items: stretch; */
    text-align: center;
}

.img__link {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
}


.img__link:hover {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact__links:hover {
    /* padding: 10px; */
    background-color: greenyellow;
    /* position: relative;
    bottom: 15px; */
}
.contact__links:active {
    background-color: blue;
}



/* la etiqueta BOX SIZING accede a todos los elementos y les da un apropiedad en especifico. Esta en especifico permite auto ajustar 
la visualizacon de la pagina web solo no toma en consideracion  el MARGIN */



main {
    /* border: 1px solid greenyellow; */
}

header {
    /* border: 1px solid azure ; */
}

footer {
    border: 1px solid white ;
}

/* Break Point */
@media(min-width: 600px) {
    
}

@media(min-width: 800px) {
    
}

